{% extends "layout2.html" %}
{% block content %}

    <div id="paper">
        <div id="pattern">
            <div id="content">
                <h4>Terms and conditions</h4>
                <br>Please understand that we collect personal data for quality purposes. You can reach out to us via email on thlastofuz@gmail.com for more clarification.
                <br>We do not bear any responsibility for misuse of our content. Content we upload is to be used for educational purposes
                <br> Remember: with great power comes great responsibility
                <!-- <br/><br/>Here are some of the sweetest memories I made during the last summer trip to Canada. What's even more beautiful about it was that it was the first time the entire family got together to spend quality time with each other. The
            </br>
            </br>The sight of Niagara Falls was quite tantalizing. We also got a chance to see a rainbow there which looked soo arresting. We captured the most beautiful views there walking down the Clifton Hill.

            <h4>"Hello World"</h4>
            echo("Hello World");<br> Being the first blog post, it would only be customary to start from the top with the popular programmer's cliché, "Hello World" . Well, now that the customary pleasantries are over and done with, lets bite right
            in.
            <br> Welcome to Cache,
            <br> Here you will get tips and tricks on a lot of things programming. You don't have to be into programming to be an avid follower of our content; well … then that will either make you a geek, nerd or a friend trying to keep a friend
            from ditching the editor's pen. Or maybe you have just found us as a search result for a problem you are having with your machine and or code. Welcome, we got a solution for you; and much more interesting content.
            <br> What's in Cache for me?
            <br> Those still reading, welcome to the Cache family, "You are the Remnants" <i>#insert("laughing emojis") <small>(/* I keep on wishing this thing had emojis*/)</small></i>
            <ul>
                <li>&emsp;&emsp;&emsp;&emsp;<strong>>></strong>&emsp;Everything Linux (Installation of distros, customization, quick hacks)</li>
                <li>&emsp;&emsp;&emsp;&emsp;><strong>></strong>&emsp;Yap, we got hacking tutorials and news too, watch it done</li>
                <li>&emsp;&emsp;&emsp;&emsp;<strong>>></strong>&emsp;scripts for solutions , make apps with us, download and install them for free (We are open source
                </li>
                <li>&emsp;&emsp;&emsp;&emsp;<strong>>></strong>&emsp;Memes! and physicist jokes <i>(hmmmm, Engineers watch out! <small>#insert("skeleton + laughing emojis")</small>)</i>
                </li>
            </ul>
            <br> There are memes too!
            <br> Yap, I said it earlier we don't only serve the silent kid with glasses and hoodie who's always on his computer. Upload your memes and well, make the world a better place?
            <br> one last thing,
            <br>"Hail Linux!", Windows and Mac are ummmmhhh, whats the word, acceptable - yes, that.
            <br>Go forth into the world and: turn coffee into code.<br><br>-->
                <blockquote>~ The Last Of Us</blockquote>
                copyright: 2020
            </div>
        </div>
    </div>

{% endblock content %}