{% extends "admin/layout1.html" %}
{% block content %}
    <div>
        <form class="blog-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend class="blog-post">
                    Login
                </legend>
                <div class="blog-title">
                    {{ form.blog_title.label() }}
                    {% if form.blog_title.errors %}
                        {{ form.blog_title() }}
                        <div>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title() }}
                    {% endif %}
                </div>
                <div class="blog-content">
                    {{ form.blog_title.label() }}
                    {% if form.blog_content.errors %}
                        {{ form.blog_content() }}
                        <div>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content() }}
                    {% endif %}
                </div>
            </fieldset>
            <div >
            {{ form.submit(class="btn") }}
            </div>
        </form>
    </div><!--end log form -->
        
{% endblock content %}