{% extends "master/layout1.html" %}
{% block content %}
    <div>
        <form class="blog-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend class="blog-post">
                    Post Blog
                </legend>
                <div class="blog-title">
                    {{ form.title.label() }}
                    {% if form.title.errors %}
                        {{ form.title() }}
                        <div>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title() }}
                    {% endif %}
                </div>
                <div class="blog-content">
                    {{ form.content.label() }}
                    {% if form.content.errors %}
                        {{ form.content() }}
                        <div>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content() }}
                    {% endif %}
                </div>
                <div class="blog-title">
                    {{ form.image.label() }}
                    {{ form.image() }}
                     {% if form.image.errors %}
                         {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                     {% endif %}
                </div>
            </fieldset>
            <div >
            {{ form.submit(class="btn") }}
            </div>
        </form>
    </div><!--end log form -->
        
{% endblock content %}